*.out
*.hdf5
*.h5
*.slt
*.gif
*.dat
*.inp
*.in
*.csv
*.xyz
*.mol2
*.o
*.so
*.c
*.cif
*.pyd
__pycache__
.vscode
.ipynb_checkpoints
test.py
DG_final.ipynb
DG_final
Untitled.ipynb
dist
Presentations
benchmark
examples
Seminarium.ipynb
seminarium
seminarium.py
gui
test_nodes.py
test_lanczos.py
perturbation_at_the_end.ipynb
test_*
CTM.ipynb
utmu.pyx
Er.ipynb
generate_ll_grid.py
build
cos_glupiego
