*.out
*.hdf5
*.h5
*.slt
*.gif
*.dat
*.inp
*.in
*.csv
*.xyz
*.mol2
*.c
*.so
*.pyx
*.cif
build
__pycache__
.vscode
.ipynb_checkpoints
test.py
DG_final.ipynb
DG_final
Untitled.ipynb
dist
Presentations
benchmark
examples
Seminarium.ipynb
seminarium.py
slothPy
seminarium
gui
CTM.ipynb
test*
Er.ipynb
generate_ll_grid.py